<div class="sidebar">

<h2>PORT RUSSEL</h2>

<ul>

<li>
<a href="/">Accueil</a>
</li>

<li>
<a href="/dashboard">Dashboard</a>
</li>

<li>
<a href="/catways-page">Catways</a>
</li>

<li>
<a href="/reservations-page">Réservations</a>
</li>

<li>
<a href="/users-page">Utilisateurs</a>
</li>

<li>
<a href="/docs">Documentation</a>
</li>

</ul>

</div>