<!DOCTYPE html>
<html lang="fr">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Catways - Port Russel</title>

<meta name="description" content="Gestion des catways du port Russel. Visualisation de l'état des catways libres ou occupés selon les réservations en cours.">

<link rel="stylesheet" href="/style.css">

</head>

<body>

<%- include("partials/sidebar") %>

<div class="main-content">

<div class="container">

<h1>Liste des Catways</h1>

<table class="table">

<thead>
<tr>
<th>Numéro</th>
<th>Type</th>
<th>Etat</th>
</tr>
</thead>

<tbody>

<% catways.forEach(catway => { %>

<tr>

<td><%= catway.catwayNumber %></td>

<td>
<% if(catway.catwayType === "short"){ %>
Court
<% } else { %>
Long
<% } %>
</td>

<td class="status">

<% if(catway.reserved){ %>

<span class="badge maintenance">Occupé</span>

<% } else { %>

<span class="badge available">Libre</span>

<% } %>

</td>

</tr>

<% }) %>

</tbody>

</table>

</div>

</div>

</body>
</html>