<!DOCTYPE html>
<html>
<head>
  <title>Catways</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Liste des Catways</h1>

<h2>Ajouter un Catway</h2>

<form action="/catways" method="POST">

<label>Numéro :</label>
<input type="number" name="catwayNumber" required>

<label>Type :</label>
<select name="type">
<option value="long">Long</option>
<option value="short">Short</option>
</select>

<label>Etat :</label>
<input type="text" name="catwayState" required>

<button type="submit">Ajouter</button>

</form>

<hr>

<table border="1">

<tr>
<th>Numéro</th>
<th>Type</th>
<th>Etat</th>
</tr>

<% catways.forEach(catway => { %>

<tr>
<td><%= catway.catwayNumber %></td>
<td><%= catway.type %></td>
<td><%= catway.catwayState %></td>
</tr>

<% }) %>

</table>

<br>

<a href="/dashboard">Retour dashboard</a>

</body>
</html>