<!DOCTYPE html>
<html>

<head>
<title>Catways</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>

<%- include("partials/sidebar") %>

<div class="main-content">

<div class="container">

<h1>Liste des Catways</h1>

<table class="table">

<thead>

<tr>
<th>Numéro</th>
<th>Type</th>
<th>Etat</th>
<th class="action">Action</th>
</tr>

</thead>

<tbody>

<% catways.forEach(catway => { %>

<tr>

<td><%= catway.catwayNumber %></td>
<td><%= catway.catwayType %></td>

<td class="status">

<% if(catway.catwayState === "Maintenance"){ %>

<span class="badge maintenance">Occupé</span>

<% } else { %>

<span class="badge available">Libre</span>

<% } %>

</td>

<td class="action">

<button onclick="deleteCatway('<%= catway._id %>')" class="delete">
Supprimer
</button>

</td>

</tr>

<% }) %>

</tbody>

</table>

</div>

</div>

<script>

async function deleteCatway(id){

if(!confirm("Supprimer ce catway ?")) return

await fetch("/catways/"+id,{
method:"DELETE"
})

location.reload()

}

</script>

</body>
</html>