<!DOCTYPE html>
<html>

<head>

<title>Dashboard</title>
<link rel="stylesheet" href="/style.css">

</head>

<body>

<%- include("partials/sidebar") %>

<div class="main-content">

<div class="container">

<h1>Tableau de bord - Port Russel</h1>

<p>Date : <%= new Date().toLocaleDateString() %></p>

<hr>

<div class="cards">

<div class="card">
⚓ Gestion des Catways
<br><br>
<a href="/catways-page">Ouvrir</a>
</div>

<div class="card">
📅 Réservations
<br><br>
<a href="/reservations-page">Ouvrir</a>
</div>

<div class="card">
👤 Utilisateurs
<br><br>
<a href="/users-page">Ouvrir</a>
</div>

<div class="card">
📄 Documentation API
<br><br>
<a href="/docs">Ouvrir</a>
</div>

</div>

<br>

<a class="logout" href="/">Se déconnecter</a>

</div>

</div>

</body>
</html>