<!DOCTYPE html>
<html>

<head>
<title>Dashboard</title>
</head>

<body>

<h1>Tableau de bord</h1>

<p>Bienvenue dans l'application Port Russel</p>

<ul>

<li><a href="/catways-page">Gestion des catways</a></li>

<li><a href="/reservations-page">Gestion des réservations</a></li>

<li><a href="/users-page">Gestion des utilisateurs</a></li>

</ul>

<br>

<a href="/">Déconnexion</a>

</body>

</html>