<!DOCTYPE html>
<html>

<head>
<title>Port Russel</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>

<h1>Port de plaisance Russel</h1>

<h2>Connexion</h2>

<form action="/login" method="POST">

<label>Email</label>
<input type="email" name="email" required>

<br><br>

<label>Mot de passe</label>
<input type="password" name="password" required>

<br><br>

<button type="submit">Se connecter</button>

</form>

<br>

<a href="/docs">Documentation API</a>

</body>

</html>