<!DOCTYPE html>
<html>
<head>
<title>Reservations</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>

<h1>Liste des Réservations</h1>

<table border="1">

<tr>
<th>Client</th>
<th>Bateau</th>
<th>Début</th>
<th>Fin</th>
</tr>

<% reservations.forEach(reservation => { %>

<tr>
<td><%= reservation.clientName %></td>
<td><%= reservation.boatName %></td>
<td><%= reservation.startDate %></td>
<td><%= reservation.endDate %></td>
</tr>

<% }) %>

</table>

<br>

<a href="/dashboard">Retour dashboard</a>

</body>
</html>