<!DOCTYPE html>
<html>

<head>
<title>Utilisateurs</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>

<h1>Liste des Utilisateurs</h1>

<table border="1">

<tr>
<th>Username</th>
<th>Email</th>
</tr>

<% users.forEach(user => { %>

<tr>
<td><%= user.username %></td>
<td><%= user.email %></td>
</tr>

<% }) %>

</table>

<br>

<a href="/dashboard">Retour dashboard</a>

</body>

</html>